*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
    color: #fff;
}

/*-- Nav-Section --*/
.navbar
{
    background-image: linear-gradient(to right, #06ac8883, #0da177);
    padding: 0 !important;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #ffffff !important;
    font-weight: 500;
    float: right;
    text-align: left;
}
.navbar-brand
{
    color: #ffffff !important;
    font-weight: 600;
}
.navbar-brand img
{
    height: 40px;
}
.navbar-toggler
{
 
    color: #fff !important;
}
.navbar .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 10)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.bi-list
{
    color: #fff;
    font-size: 30px !important;
}

/*-- banner section --*/
 #banner
{
    color: #fff;
    background-image: linear-gradient(to right, #06ac8883, #0da177);
}
.promo-title
{
    font-size: 45px;
    font-weight: 600;
    margin-top: 100px;
}
.promo-text
{
    font-size: 20px;
    font-weight: 350;
}
.bottom-img
{
    width: 100%;
}

/*-- footer section --*/
#footer
{
    color: #fff;
    background-image: linear-gradient(to right, #06ac8883, #0da177);
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: block;
}
.footer-box img
{
    width: 100px;
    display: flex;
    margin-bottom: 10px;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}
.nav-footer
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-footer li
{
    padding-top: 20px;
}
.block
{
    text-align: justify;
    padding-bottom: 35px;
}