*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
    /* background-image: linear-gradient(to right, #06ac8883, #0da177); */
    color: #fff;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #06ac8883, #0da177);
    padding: 0 !important;
}
.navbar-nav li
{
    padding: 0 10px;

}
.navbar-nav li a
{
    color: #ffffff !important;
    font-weight: 500;
    float: right;
    text-align: left;
}
.navbar-brand
{
    color: #ffffff !important;
    font-weight: 600;
}
.bi-list
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important; 
}

/*-- banner section --*/
 #banner
{
    color: #fff;
    background-image: linear-gradient(to right, #06ac8883, #0da177);
}
.promo-title
{
    font-size: 45px;
    font-weight: 600;
    margin-top: 100px;
}
.promo-text
{
    font-size: 20px;
    font-weight: 350;
}
.bottom-img
{
    width: 100%;
}

/*-- footer section --*/
#footer
{
    color: #fff;
    background-image: linear-gradient(to right, #06ac8883, #0da177);
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 20px;
    display: block;
}
.footer-box img
{
    width: 100px;
    display: flex;
    margin-bottom: 10px;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}
.contact-section
{
    display: grid;
    align-items: center;
}
.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
}

